body {
    height: 100vh;
}

a,
a:hover {
    text-decoration: none;
    color: #6f6f74;
}

.container {
    padding: 0 40px;
}

img {
    max-width: 100%;
    border-radius: 5px;
    /* max-height: 100vh; */
}

/* .portrait img {
    padding: 70px 0;
    float: right;
}  */

.info {
    padding-top: 50px;
}

.info-bar {
    display: flex;
    padding-bottom: 20px;
    text-align: center;
    /* this is for later */
}

.info-bar * {
    padding: 4px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 20px;
}

.job-title {
    color: white;
    background: linear-gradient(to right, #738ab9ad 0%, #465c889e 42%, #3f5580db 100%);
}

.fa-map-marker-alt {
    color: #6676a7;
}



/* Weather Icons */
.fa-sun,
.fa-bolt {
    color: #ffbc00;
}

.fa-cloud,
.fa-snowflake,
.fa-smog {
    color: #dbdbdb;
}

.fa-cloud-rain {
    color: #9cc4d7;
}


.html-text {
    cursor: pointer;
    background: -webkit-linear-gradient(#70c4ff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css-text {
    cursor: pointer;
    background: -webkit-linear-gradient(#ff7070, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-text {
    cursor: pointer;
    background: -webkit-linear-gradient(#70ff7b, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-thumbnail {
    overflow: hidden;
    height: 200px;
}

textarea {
    width: 100%;
}



.social * {
    padding: 0 5px;
}

.contact-bg {
    background: rgb(40, 15, 4);
    background: linear-gradient(90deg, rgba(40, 15, 4, 1) 0%, rgba(40, 15, 4, 0.21922272326899506) 100%);
}

.contact {
    color: white;
}

.btn,
.btn a:hover {
    background-color: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
    color: #959595 !important;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
}

.home-bg .portrait {
    max-width: 420px;
}

.contact-bg .portrait {
    max-width: 100%;
    /* because this photo is a bit wider */
}

.home,
.contact {
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    justify-content: center;
}



/* -- Portfolio -- */
.portfolio {
    max-width: 100%;
    padding: 0 !important;
}

.carousel-item {
    height: 100vh;
}

.w-100 {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.carousel-mob {
    display: none;
}

#carouselExampleCaptions {
    bottom: 40px;
}

.carousel-caption {
    text-shadow: 4px 1px 6px black;
    bottom: 66px;
    position: fixed;
}

/* -- Footer -- */
footer {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer *,
footer a:hover {
    color: #959595;
}

footer .row {
    margin: 0;
}

.card-img {
    border-radius: calc(.25rem - 1px);
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.navbar-toggler {
    font-size: 1rem;
}

.navbar-toggler:focus {
    outline: 5px auto #999999;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        max-height: 100%;
    }

    .portrait,
    .email,
    .copyright {
        display: none;
    }

    .home-bg {
        background: url(img/portrait-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-bg {
        background: url(img/portrait2-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-bar,
    .contact,
    .row {
        justify-content: center;
    }

    .home,
    .contact {
        background-color: #ffffffe3;
        text-align: center;
    }

    .contact h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 992px) {
    .card {
        display: none;
    }

    .contact-bg .portrait {
        display: none;
    }

    .contact-bg .info {
        padding-top: 0;
        width: 80vw;
    }

    .carousel-mob {
        display: block;
    }

    .carousel-web {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .card * {
        font-size: 15px;
    }
}