body {
    height: 100vh;
}

a,
a:hover {
    text-decoration: none;
    color: #6f6f74;
}

.btn,
.btn a:hover {
    background-color: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
    color: #959595 !important;
}

.container {
    padding: 0 40px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 20px;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
}

.navbar-toggler {
    font-size: 1rem;
}

.navbar-toggler:focus {
    outline: 5px auto #999999;
}

/* --- HOME --- */
.info {
    padding-top: 50px;
}

.info-bar {
    display: flex;
    padding-bottom: 20px;
    text-align: center;
}

.info-bar * {
    padding: 4px;
}

/* selects everything inside of info-bar */

.job-title {
    color: white;
    background: rgb(115, 138, 185);
    background: -moz-linear-gradient(90deg, rgba(115, 138, 185, 0.6870098381149334) 0%, rgba(70, 92, 136, 0.6225840678068102) 42%, rgba(63, 85, 128, 0.8690826672465861) 100%);
    background: -webkit-linear-gradient(90deg, rgba(115, 138, 185, 0.6870098381149334) 0%, rgba(70, 92, 136, 0.6225840678068102) 42%, rgba(63, 85, 128, 0.8690826672465861) 100%);
    background: linear-gradient(90deg, rgba(115, 138, 185, 0.6870098381149334) 0%, rgba(70, 92, 136, 0.6225840678068102) 42%, rgba(63, 85, 128, 0.8690826672465861) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#738ab9", endColorstr="#3f5580", GradientType=1);
}

.fa-map-marker-alt {
    color: #6676a7;
}

/* Weather Icons */
.fa-sun,
.fa-bolt {
    color: #ffbc00;
}

.fa-cloud,
.fa-snowflake,
.fa-smog {
    color: #dbdbdb;
}

.fa-cloud-rain {
    color: #9cc4d7;
}

.html-text {
    background: -webkit-linear-gradient(#70c4ff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css-text {
    background: -webkit-linear-gradient(#ff7070, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-text {
    background: -webkit-linear-gradient(#70ff7b, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-thumbnail {
    overflow: hidden;
    height: 200px;
}

.card-img {
    border-radius: calc(.25rem - 1px);
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.home-bg .portrait {
    max-width: 59vh;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
}

.social * {
    padding: 0 5px;
}

.contact-bg {
    background: rgb(40, 15, 4);
    background: -moz-linear-gradient(90deg, rgba(40, 15, 4, 1) 0%, rgba(40, 15, 4, 0.2248249641653537) 100%);
    background: -webkit-linear-gradient(90deg, rgba(40, 15, 4, 1) 0%, rgba(40, 15, 4, 0.2248249641653537) 100%);
    background: linear-gradient(90deg, rgba(40, 15, 4, 1) 0%, rgba(40, 15, 4, 0.2248249641653537) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#280f04", endColorstr="#280f04", GradientType=1);
}

.home,
.contact {
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    justify-content: center;
}

/* --- P O R T F O L I O --- */
.portfolio {
    max-width: 100%;
    padding: 0 !important;
}

.carousel-item {
    height: 100vh;
}

.w-100 {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.carousel-mob {
    display: none;
}

.carousel-caption {
    text-shadow: 4px 1px 6px black;
    bottom: 50px;
}

.carousel-indicators {
    bottom: 27px;
}

/* --- C O N T A C T --- */
.contact {
    color: white;
}

.contact-bg .portrait {
    max-width: 80vh;
    display: flex;
    align-items: center;
}

/* --- F O O T E R --- */
footer {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer *,
footer a:hover {
    color: #959595;
}

footer .row {
    margin: 0;
}


@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        max-height: 100%;
    }

    .portrait,
    .email,
    .copyright {
        display: none !important;
    }

    .home-bg {
        background: url(img/portrait-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-bg {
        background: url(img/portrait2-m.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info-bar,
    .contact,
    .row {
        justify-content: center;
    }

    .home,
    .contact {
        background-color: #ffffffe3;
        text-align: center;
    }

    .contact h1 {
        font-size: 26px;
    }

    .portfolio-bg footer {
        display: none;
    }

    .contact-bg .row {
        color: #707070;
    }
}

@media only screen and (max-width: 992px) {
    .card {
        display: none;
    }

    .contact-bg .portrait {
        display: none;
    }

    .contact-bg .info {
        padding-top: 0;
        width: 80vw;
    }

    .carousel-mob {
        display: block;
    }

    .carousel-web {
        display: none;
    }

    .carousel-caption {
        top: 43%;
    }

    .carousel-caption h5 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1200px) {
    .card * {
        font-size: 15px;
    }
}